<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AlbumsServiceServlet</servlet-name>
        <servlet-class>org.oa.tp.servlets.AlbumsServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumsViewServlet</servlet-name>
        <servlet-class>org.oa.tp.servlets.AlbumsViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreServiceServlet</servlet-name>
        <servlet-class>org.oa.tp.servlets.GenreServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorServiceServlet</servlet-name>
        <servlet-class>org.oa.tp.servlets.AuthorServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorsViewServlet</servlet-name>
        <servlet-class>org.oa.tp.servlets.AuthorsViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlbumsServiceServlet</servlet-name>
        <url-pattern>/albums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumsViewServlet</servlet-name>
        <url-pattern>/albums-view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreServiceServlet</servlet-name>
        <url-pattern>/genres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorServiceServlet</servlet-name>
        <url-pattern>/authors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorsViewServlet</servlet-name>
        <url-pattern>/authors-view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>